{% extends "base.html" %}

{% block content %}
    <h1 class="mb-4">Detail tréninku</h1>

<div class="card">
    <div class="card-body">
        <p>Datum: {{ training.training_date|date:"d.m.Y" }}</p>
        <p>Začátek: {{ training.start_time|time:"H:i" }}</p>
        <p>Konec: {{ training.end_time|time:"H:i" }}</p>
        <p>Místo: {{ training.location }}</p>
    </div>
</div>

<a href="{% url 'training_list' %}" class="btn btn-secondary mt-3">
    Zpět na seznam tréninků
</a>
{% endblock content %}