{% extends 'base.html' %}

{% block title %}
Úvodní strana
{% endblock %}

{% block content %}

<section class="py-2">
  <div class="row align-items-stretch">
    <div class="col-md-6 d-flex">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">Příští zápas</h5>

          <p class="card-text">
            {% if next_match %}
              {% if next_match.is_home %}
                <strong>Tornádo Hradiště – {{ next_match.opponent }}</strong>
              {% else %}
                <strong>{{ next_match.opponent }} – Tornádo Hradiště</strong>
              {% endif %}

              <br>

              {{ next_match.match_date|date:"d.m.Y H:i" }}
            {% else %}
              Žádný nadcházející zápas.
            {% endif %}
          </p>

          <a href="{% url 'match_detail' next_match.pk %}" class="btn btn-primary">Detail Zápasu</a>
        </div>
      </div>
    </div>

    <div class="col-md-6 d-flex">
      <div class="card w-100">
        <div class="card-body">
          <h5 class="card-title">Příští trénink</h5>
          <p class="card-text">
            {% if next_training %}
              {{ next_training.training_date|date:"d.m.Y" }}
              {{ next_training.start_time|time:"H:i" }}
              – {{ next_training.location }}
              <br>
              <a href="{% url 'training_detail' next_training.pk %}" class="btn btn-primary">Nahlaš se</a>
            {% else %}
              Žádný nadcházející trénink.
            {% endif %}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <h1>Vítejte na stránkách Tornáda Hradiště</h1>
  <p>Jsme malý fotbalový klub z Plzně, hrající 9. nejvyšší soutěž.</p>
</section>
<section class="py-5">
      <div class="card">
  <h5 class="card-header">Poslední zápas</h5>
  <div class="card-body">
    <small class="text-muted my-3">{{ last_match.match_date|date:"d.m.Y H:i" }}</small>
    <h4 class="card-title my-2">
      {% if last_match %}
        {% if last_match.is_home %}
          Tornádo Hradiště – {{ last_match.opponent }}
        {% else %}
          {{ last_match.opponent }} – Tornádo Hradiště
        {% endif %}

        <br>
        {% if last_match.goals_for is not None %}
        <h4 class="my-3">
          {{ last_match.goals_for }}:{{ last_match.goals_against }}
        </h4>
        {% else %}
          Výsledek zatím není k dispozici.
        {% endif %}
      {% else %}
        Žádný poslední zápas k zobrazení.
      {% endif %}
      </h4>
      <a href="{% url 'match_detail' last_match.pk %}" class="btn btn-primary">Detail Zápasu</a>
    </div>
    </div>
    </section>

{% endblock %}